<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265901093184-6l0ca3hoks658v0574johdsmd6habl8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265901093184-6l0ca3hoks658v0574johdsmd6habl8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265901093184-ptvi12aslsdud7nqdgs84nsqbkevsd4d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXWVvBs0uUoaHb5dGg9-5OMdWnBNm604</string>
	<key>GCM_SENDER_ID</key>
	<string>265901093184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>dumy-bd826</string>
	<key>STORAGE_BUCKET</key>
	<string>dumy-bd826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265901093184:ios:d8d4897d99e293c626caa5</string>
</dict>
</plist>